@import 'styles/variables';
@import 'styles/breakpoints';

.art {
  margin: 5px;
  background-image: url(/images/building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: 0.2s;
  border-radius: 5px;
  width: 470px;
  height: 470px;

  &:hover {
    .textWrapper {
      background-color: rgba(255, 255, 255, 0.5);

      p {
        color: $black
      }
    }
  }

  @include for-desktop {
    width: 400px;
    height: 400px;
  }

  @include for-tablet-landscape {
    width: 300px;
    height: 300px;
  }

  @include for-tablet-portrait {
    width: 210px;
    height: 210px;
  }

  @include for-mobile-only {
    width: 100%;
    height: 350px;
  }
}

.textWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 5px;

  p {
    color: transparent;
    transition: 0.2s;
    margin: 25px;
    text-transform: uppercase;
    font-size: 1.1rem;
  }
}


