.skeletonBox {
  width: 470px;
  height: 470px;
  margin: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 1366px) {
  .skeletonBox {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .skeletonBox {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .skeletonBox {
    width: 210px;
    height: 210px;
  }
}

@media only screen and (max-width: 576px) {
  .skeletonBox {
    width: 100%;
    height: 350px;
  }
}
