* {
    box-sizing: border-box;
}

html, body, .__next {
  border: 0;
  margin: 0;
  font-family: var(--fontFamily);
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

:root {
  --pink: #FFB0B6;
  --lightPink: #FED1D1;
  --fontFamily:  'Poppins', sans-serif;
  --black: #333333
}
