@import 'variables';
@import 'breakpoints';

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 0px;
  width: 100%;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
}

.sectionContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin: 45px 0px 0px;
  letter-spacing: 1.2px;
  color: $black;

  h5 {
    font-weight: normal;
    margin: 0;
    font-size: 1.6rem;
    color: $black;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    margin-top: 14px;
    font-family: 'Padauk', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include for-mobile-only {
  .section {
    width: 100vw;
    padding: 0px 10px;
  }

  .sectionContent {
    flex-direction: column;
  }
}
