.title {
  text-align: center;
  font-weight: normal;
  margin: 50px 0px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.imageContainer {
  margin: 0px 0px 50px;
}

.image {
  border-radius: 5px;
}
